@import url("https://fonts.googleapis.com/css2?family=Mina:wght@700&family=Roboto+Slab&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Slab", serif;
  width: 100vw;
}

.full-height {
  height: 100vh;
}

h1,
h2,
h3,
h4 {
  font-family: "Mina", sans-serif;
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 72px;
}

h3 {
  font-size: 48px;
}

#main-text {
  max-width: 700px;
}

.btn-primary {
  background-color: #ff6363;
  border: none;
  color: white;
  padding: 10px 30px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 100px;
  font-family: "Mina", sans-serif;
}

.btn-primary:hover {
  background-color: #ff4242;
}

.wrapper {
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px;
  padding-right: 10px;
  padding-left: 10px;
}

.center-parent {
  display: flex;
  align-items: center;
  justify-content: center;
}

.end-parent {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.start-parent {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.flex-child {
  margin: 0;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.img-right {
  align-items: flex-end;
}

.bg-circle {
  position: absolute;
  z-index: -10;
  background-color: #fff48e;
  height: 65vw;
  width: 100vw;
  border-radius: 50%;
  top: 0px;
  transform: translateY(-50%);
}

.hidden {
  display: none;
}

recipe-item {
  display: block;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
  padding: 10px;
}

.column-30 {
  flex: 30%;
  padding: 10px;
}

.column-70 {
  flex: 70%;
  padding: 10px;
}

.img-thumb {
  width: 70%;
}

.tags {
  background: rgba(196, 196, 196, 0.6);
  border: none;
  color: black;
  padding: 5px 30px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  border-radius: 10px;
  font-family: "Mina", sans-serif;
}

ul {
  list-style: none;
}
ul li {
  font-size: 16px;
}
ul li::before {
  content: "\2022";
  color: #ff6363;
  font-weight: bold;
  font-size: 20px;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
.mb-5 {
  margin-bottom: 50px;
}
